body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.size {
    margin-bottom: 20px;
    font-size: 18px;
}

#container {
    display: flex;
    flex-wrap: wrap; /* Allows flex automatiaclly wraps to the next line*/
    width: 640px;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box; /* Ensure the total width and height equals to 40 */
}
