.size {
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap; /* Allows flex automatiaclly wraps to the next line*/
    width: 640px;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box; /* Ensure the total width and height equals to 40 */
}
